@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    body {
        scroll-behavior: smooth;
    }
}

* {
    font-family: 'Open Sans', sans-serif;
}

.form {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 20px;
    border-radius: 10px;
    background-color: white;

}

.label {
    margin-bottom: 2px;
    font-weight: 500;
    color: rgb(61, 60, 60);
}

.form-footer {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 765px) {}