.sidebar-header{
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: block;
}
.sidebar-content {
    margin: 10px 10px 10px 10px;
}


@media (max-width: 765px) {
    .sidebar-header {
        display: none;
    }
}