.nav-bar {
    height: 50px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 0px 10px;
    align-items: center;
}

.mainDashBody {
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
}

#leftSide {
    background-color: #fff;
    display: block;
    width: 16%;
    overflow-y: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

#rightSide {
    width: 84%;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.adminComponents {
    margin: 10px;
}

#leftSide ::-webkit-scrollbar {
    display: none;
}

/* .mobile-menu {
    display: none;
} */

.mobile-none {
    border: solid 1px #f0f0f0;
    border-radius: 5px;
    padding: 2px 4px 1px 4px;
    color: black;
}

.mobilemenu{
    display: none;
}

@media (max-width: 765px) {
    .mobilemenu{
        display: block;
    }

    #leftSide {
        display: none;
    }

    .mobile-none {
        display: none;
    }



    #rightSide {
        width: 100%;
    }
}